.navbar {
  top: var(--space-xl);
  left: 0;
  right: 0;
  z-index: 50;
  padding: 2rem 5rem;
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex-shrink: 0;
}

.menu {
  list-style: none;
  display: flex;
  gap: var(--space-2xl);
  gap: 3rem;
}

.menu a {
  color: var(--text-muted);
  text-decoration: none;
  font-size: 1.25rem;
  transition: color 0.3s ease;
  padding: 4px 0;
  font-size: var(--font-lg);
}

.menu a:hover {
  color: var(--obsidian-purple-light);
}