@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";

:root {
  --obsidian-black: #0b0b0f;
  --obsidian-deep: #111118;
  --obsidian-purple: #8a41d3;
  --obsidian-purple-light: #9a59ee;
  --obsidian-purple-glow: #b692f7;

  --text-main: #e8e8f0;
  --text-muted: #9a9ab3;

  --accent-glow: rgba(155, 77, 255, 0.6);

  --max-width: 1200px;

  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 40px;
  --space-2xl: 64px;
  --space-3xl: 96px;
  --space-4xl: 160px;

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-2xl: 2rem;
  --font-3xl: 2.5rem;
  --font-4xl: 3rem;

  --font-display: 4.5rem;

  --fast: 150ms;
  --normal: 300ms;
  --slow: 600ms;

  --shadow-soft: 0 0 20px rgba(0, 0, 0, 0.4);
  --shadow-glow: 0 0 20px var(--accent-glow);

  --radius: 12px;
}

@theme inline {
  --color-*: initial;

  --color-obsidian-black: var(---obsidian-black);
  --color-obsidian-deep: var(--obsidian-deep);
  --color-obsidian-purple: var(--obsidian-purple);
  --color-obsidian-purple-light: var(--obsidian-purple-light);
  --color-obsidian-purple-glow: var(--obsidian-purple-glow);

  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);

  --color-accent-glow: var(--accent-glow);
}

body {
  background: var(--obsidian-black);
  color: var(--text-main);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cta-button {
  background-color: var(--obsidian-purple);
  transition: background-color var(--fast), box-shadow var(--fast);
  cursor: pointer;
  border: 3px solid var(--obsidian-purple-light);
}

.cta-button:hover {
  background-color: var(--obsidian-purple-light);
  box-shadow: 0 0 30px var(--accent-glow);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--obsidian-black);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-glow);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--obsidian-purple);
}
